#ntp-content {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 1;
    transition: 0.15s opacity;
    overflow: hidden;
}

body:not(.is-ntp) #ntp-content {
    opacity: 0;
}

#ntp-background {
    /*max-height: max(100%, 72vw);*/
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
}

#ntp-background-controls {
    position: absolute;
    bottom: 1em;
    right: 1.25em;
}

#ntp-background-controls button {
    background: #ffffff;
    border: 1px #555555 solid;
    color: #000000;
    font-size: 1.15em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
    opacity: 0.7;
    transition: 0.15s;
}

.dark-mode #ntp-background-controls button {
    background: #2d2d2d;
    border-color: #555555;
    color: #ffffff;
}

#ntp-background-controls:hover button {
    opacity: 0.9;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

#ntp-background-controls:hover #ntp-image-remove {
    color: #666666 !important;
}

.dark-mode #ntp-background-controls:hover #ntp-image-remove {
    color: #cccccc !important;
}

#ntp-background-controls:not(:hover) #ntp-image-remove {
    opacity: 0;
}